<html>
<head>
  <meta charset="utf-8">

  <title>Travel App Indie Project</title>
  <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/moment/min/moment.min.js"></script>
  <script src="bower_components/combodate/src/combodate.js"></script>
</head>
<body>


  <h1>Hi {{name}}</h1>



  {% if logged_in %}
  <button>Log out</button>
  {% else %}
  <button>Log in</button>
  {% endif %}


{% block content %}
HAHAHAHA
{% endblock %}



</body>
</html>
