
  {% extends 'base.html' %}
  {% block content %}

    {%if logged_in%}
    <form action="">
      <p>
        Enter a location: <input name="state" type="text" placeholder="state" value=""></input>
                        <input name="city" type="text" placeholder="city" value=""></input>

        Choose Start Date: <input type="date" id="dateStart" name="startDate" value="09-01-2013">
        Choose End Date: <input type="date" id="dateEnd" name="endDate" value="09-01-2013">
        <input type="submit" value="Submit"></input></br>
      </p>
    </form>
    {% endif %}

  {% if has_results %}

  <h4>Here are meetups for {{city}}</h4>

  <ul>
    {% for meetup in meetups %}
    <li>
      Location:{{meetup.venue.city}}
    , time:{{meetup.time}}
    </li>
    {% endfor %}
  </ul>

  {% endif %}

  <script>
  $(function(){
      $('#dateStart').combodate();
  });

  $(function(){
      $('#dateEnd').combodate();
  });
  </script>
  {% endblock %}
